body {
  margin: 0;
  background: url("../img/strasbourg.jpg") no-repeat;
  background-size: cover;
}

section {
  margin: 1% 10%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

section h1 {
  text-align: center;
  font-size: 45px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid;
  padding: 5px;
  margin: 5px;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

select {
  margin-left: 5px;
  max-width: 200px;
}

button {
  max-width: 200px;
  height: 30px;
  border: 0px;
  background-color: #273b5c;
  color: white;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: #294e8c;
}

#voirPlus {
  margin-left: 45%;
  width: 10%;
  height: 40px;
}

.erreur {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}

section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 0;
}

section li {
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

.annonce {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.annonce:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.information {
  width: auto;
}

.information:hover {
  background-color: white;
}

.type {
  font-size: small;
  font-weight: bold;
}

a {
  text-decoration: underline transparent;
  color: black;
}

.commentaires {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.commentaires li {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
}

.nom {
  font-size: small;
  font-style: italic;
}

.commentaire {
  font-size: large;
}

/** NAVBAR.PHP */

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: white;
}

.header h1 {
  margin: 4px 0px 4px 10px;
}

.header ul {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  height: 30px;
}

.header li {
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
}

.icon {
  background-color: transparent;
  width: 35px;
}

.icon:hover {
  background-color: transparent;
  filter: brightness(50%);
}

nav {
  background-color: #273b5c;
  width: auto;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}

nav li {
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 50px;
}

nav a {
  text-decoration: underline transparent;
  color: white;
}

nav a:hover {
  color: lightgrey;
}

/** FOOTER.PHP */

footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  height: 50px;
}

footer ul {
  display: flex;
  flex-direction: row;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer li {
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
}
